/*
* @Author: qianlu
* @Date:   2016-11-21 14:44:23
* @Last Modified by:   qianlu
* @Last Modified time: 2016-11-21 15:16:55
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.example {
    margin: 40px auto;
}