/*
* @Author: qianlu
* @Date:   2016-11-21 14:44:23
* @Last Modified by:   qianlu
* @Last Modified time: 2016-11-21 16:42:52
*/

.wrap {
    width: 500px;
    height: 320px;
    position: relative;
    margin: 0 auto;
    top: 200px;
    overflow: hidden;
}

img {
    width: 100%;
    float: left;
}

ul {
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 14px;
}

li {
    float: left;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background: #F2F2F2;
    color: red;
    cursor: pointer;
}

.cur {
    background: red;
    color: white;
}

.arrow {
    position: absolute;
    top: 0;
    width: 30px;
    height: 320px;
    line-height: 320px;
    text-align: center;
    color: red;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
    }
}

.prev::after {
    transform: rotate(45deg);
    left: 10px;
}

.next {
    right: 0;
    &:after {
        transform: rotate(-135deg);
        right: 10px;
    }
}