/*
* @Author: qianlu
* @Date:   2016-10-08 16:20:30
* @Last Modified by:   qianlu
* @Last Modified time: 2016-10-08 16:31:31
*/
.sidebar {
    width: 200px;
    background: yellow;
    height: 100%;
    float: left;
}