.page-wrap {
    height: 30px;
    line-height: 30px;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    .page-item {
        margin-right: 20px;
    }
    .selectBox-dropdown {
        min-width: 50px;
    }
    .pagination {
        width: 50px;
    }
    .page-number {
        width: 30px;
        margin-right: 10px;
    }
    a {
        margin-right: 5px;
        &:hover {
            color: blue;
        }
    }
    .go {
        width: 30px;
        height: 20px;
        background: #1f7fb5;
        color: #fff;
        border: 1px solid #4491bf;
        text-align: center;
        border-radius: 2px;
    }
    .disable {
        color: #ccc;
    }
}