* {
    padding:0;
    margin:0;
}

body {
    background: #90d1ef;
}

ul {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 0 100px;

    li{
        display: inline-block;
        text-align: center;
    }
}

a {
    display: inline-block;
    width: 80px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #08c;

    &:hover {
        background: #eee;
        border-radius: 4px;
        border: 1px solid #ddd;
        border-bottom: 0px;
    }
}